@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');

.body {
    background-color: rgb(213, 247, 247);
}

.container {
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    border-radius: 0;

}

.daniel {
    background-color: hsl(263, 55%, 52%);    
    background-clip: padding-box;
    border: 15px solid transparent;
    /* background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right top; */
    position: relative;
    z-index: 1;
}

.quotation {
    z-index: -1;
    position: absolute;
    right: 20px;
    top: 10px;
    
}


.kira {
    background-color: white;
    color: gray;
    background-clip: padding-box;
    border: 15px solid transparent;
}

.Jeanette {
    background-color: white;
    color: gray;
    background-clip: padding-box;
    border: 15px solid transparent;
}

.jonathan {
    background-color: hsl(217, 19%, 35%);
    background-clip: padding-box;
    border: 15px solid transparent;
}

.patrick {
    background-color: hsl(219, 29%, 14%);
    background-clip: padding-box;
    border: 15px solid transparent;
}


div {
    border-radius: 30px;
}



.logo-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.logo-text {
    line-height: 5px;
}

.logo-heading {
    font-weight: 500;
}

.logo-para-heading {
    font-weight: 200;
    color: hsl(210, 46%, 95%)
} 

.main-para1 {
    font-weight: 600;
    font-size: 1.2rem;
}

.main-para2 {
    font-weight: 300;
    color: hsl(0, 0%, 81%);
    font-size: 0.8rem;
}

.logo-para-heading-dark {
    color: gray;
}

.main-para1-dark {
    font-weight: 600;
    font-size: 1.2rem;
    color: hsl(219, 29%, 14%);
}

.main-para2-dark {
    color: hsl(219, 29%, 14%);
    font-size: 0.8rem;
    font-weight: 300;
}

@media screen and (min-width: 993px) {
    .media-line {
        line-height: 1rem;
    }
  }

  @media screen and (min-width: 1200px) {
    .media-line {
        line-height: 0.5rem;
    }
  }